body{
    top: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #cccccc;
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


header{
    box-sizing: content-box;
    top: 0;
    margin-top: 0;
    width: 100%;
}
#heading{
	color: #f34d1b;
}
#title{
	top: 0;
	margin-top: 0;
    margin:   0% 4% 0% 4%;
    padding: 0%;
    box-sizing: border-box;
    position: relative;
}
#boldText{
	font-family: fantasy;
	font-size: 48px;
	margin-top: 0;
	display: block;
}
#hashTag{
	margin-top: -30px;
	font-size: 15px;
	padding-left: 13.5px;
}
#logo{
	float: right;
	margin-top: -86px;
	height: 70px;
	width: 70px;
}
nav{
	background-color: #f34d1b;
	width: 100%;
	top: 0;
	overflow: hidden;
	box-sizing: border-box;
}
#navList{
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#navList li{
	float: left;
}
#navList li a {
	display: block;
	color: white;
	background-color: #f34d1b;	
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
}
#navList li a:hover {
    color: #f34d1b;
    background-color: white;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	transition: all 0.2s ease-in-out;
}
.sticky + .firstSection {
	padding-top: 120px;
}


section{
	width: 100%;
}
.slideShow{
	width: 100%;
	align-content: center;
}
.mySlides {
	display:none;
	width: 100%;
	height: 480px;
}
.banner{
	width: 100%;
	height: 450px;
}
article{
	margin: 1.5% 2%;
	color: #041452;
}
.subHeader{
	margin: 0%;
	padding: 1% 0 1% 8.33%;
	color: white;
	background-color: #f34d1b;
	border-radius: 5px;
	font-size: 30px;
}
.text{
	margin: 0%;
}
.appLink{
	text-decoration: none;
	color: #041452;
}
.gridSystem{
	padding: 0 0.7%;
}
.animation{
	margin: 0%;
	padding: 0;
	width: 100%;
	text-align: center;
}
.gridText{
	margin-top: 1.5%;
}
.appText{
	display: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bolder;
	font-size: 150%;
	text-align: center; 
	padding: 1.5% 0;
	box-shadow: 5px 5px 5px #7d7474;
	border-radius: 5px;
}
.appTest1{
	color: #f0514b;
	background-color: #00ffff;
}
.appTest2{
	color: #c23833;
	background-color: #70f7f7;
}
.appTest3{
	color: #9c211c;
	background-color: #b0f1f1;
}
footer{
	padding: 0.7%;
}
#footer{
	text-align: center;
	color: #ab0505;
	border-radius: 3px;
	border: 1px solid #ffffff;
	box-shadow: 5px 5px 5px #7d7474;
}




/*MEDIA QUERIES*/

/*FOR ULTRA SMALL PHONES*/

@media only screen and (max-width: 319px) {
	#title{
		margin: 0 1%;
	}
	#boldText{
		color: #f34d1b;
		font-family: sans-serif;
		letter-spacing: 0.01px;
		font-size: 20px;
	}
	#hashTag{
		margin-top: -20px;
		font-size: 15px;
	}
	#logo{
		margin-top: -50px;
		height: 40px;
		width: 40px;
	}
	#navList li{
		float: none;
	}
	#navList li a {
		padding: 3px 16px;
	}
	.banner {
		display:none;
		width: 100%;
		height: 200px;
	}
}

@media only screen and (min-width: 320px) {
	#title{
		margin: 0 1%;
	}
	#boldText{
		color: #f34d1b;
		font-family: sans-serif;
		letter-spacing: 0.01px;
		font-size: 20px;
	}
	#hashTag{
		margin-top: -20px;
		font-size: 15px;
	}
	#logo{
		margin-top: -48px;
		height: 42px;
		width: 45px;
	}
	#navList li{
		float: none;
	}
	#navList li a {
		padding: 6px 16px;
	}
	.banner {
		height: 200px;
	}
} 

/* FOR AVERAGE ANDROID */
@media only screen and (min-width: 400px) {
	#title{
		margin: 0 2%;
	}
	#boldText{
		color: #f34d1b;
		font-size: 25px;
	}
	#hashTag{
		margin-top: -25px;
		font-size: 15px;
		padding-left: 13.5px;
	}
	#logo{
		margin-top: -55px;
		height: 50px;
		width: 50px;
	}
	#navList li{
		float: left;
	}
	#navList li a {
		padding: 6px 16px;
	}
	#navList li a {
		padding: 8px 16px;
	}
	.banner {
		height: 250px;
	}
}


@media only screen and (min-width: 500px) {
	#title{
		margin: 0 2% 0 2%;
	}
	#boldText{
		color: #f34d1b;
		letter-spacing: 0.2px;
		font-size: 30px;
	}
	#hashTag{
		margin-top: -25px;
		font-size: 15px;
		padding-left: 13.5px;
	}
	#logo{
		margin-top: -62px;
		height: 55px;
		width: 55px;
	}
	#navList li{
		float: left;
	}
	#navList li a {
		padding: 9px 16px;
	}
	.banner {
		height: 300px;
	}
}

@media only screen and (min-width: 620px) {
	#title{
		margin: 0 2%;
	}
	#boldText{
		color: #f34d1b;
		letter-spacing: 0.2px;
		font-size: 35px;
	}
	#hashTag{
		margin-top: -25px;
		font-size: 18px;
		padding-left: 13.5px;
	}
	#logo{
		margin-top: -69px;
		height: 60px;
		width: 60px;
	}
	#navList li{
		float: left;
	}
	#navList li a {
		padding: 10px 16px;
	}
	.banner {
		height: 300px;
	}
}

@media only screen and (min-width: 720px) {
	#title{
		margin: 0 3%;
	}
	#boldText{
		color: #f34d1b;
		letter-spacing: 0.2px;
		font-size: 35px;
	}
	#hashTag{
		margin-top: -25px;
		font-size: 18px;
	}
	#logo{
		margin-top: -69px;
		height: 60px;
		width: 60px;
	}
	#navList li{
		float: left;
	}
	#navList li a {
		padding: 11px 16px;
	}
	.banner {
		height: 350px;
	}
}



@media only screen and (min-width: 900px) {
	#title{
		margin: 0 3.5%;
	}
	#boldText{
		color: #f34d1b;
		letter-spacing: 0.2px;
		font-size: 35px;
	}
	#hashTag{
		margin-top: -25px;
		font-size: 18px;
		padding-left: 13.5px;
	}
	#logo{
		margin-top: -69px;
		height: 60px;
		width: 65px;
	}
	#navList li{
		float: left;
	}
	#navList li a {
		padding: 12px 16px;
	}
	.banner {
		height: 480px;
	}
}
